# Python
__pycache__/
*.pyc
venv/
.env

# Temporary files
temp_upload.wav

models/*.pt

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

@"
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
"@ | Out-File -Encoding utf8 .gitignore